<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cj.mobile.common">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:allowBackup="false">

        <activity
            android:name="com.cj.mobile.common.module.multiimageselector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false" />

    </application>
</manifest>